@import "./imports.scss";

%blue-button {
    border: none;
    background: rgb(35, 42, 224);
    border-radius: 14px;
    color: white;
    width: 100%;
    font-size: 1.3em;
    padding: 4px;
    justify-self: center;
    align-self: center;
}

a:visited {
    color: rgb(130, 150, 218);
}

a {
    color: rgb(67, 109, 245);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("../game/images/background/menuBG.webp");
    background-color: rgb(0, 0, 0);
    min-width: 500px;
    color: white;
    font-family: $PT-font-stack;
    scroll-behavior: smooth;
}

button:focus {
    @extend %outline-border-opacity;
}

form button {
    transform: translateY(3px);
}

.bottom-button {
    position: fixed;
    bottom: 10px;
    width: 100px;
    min-width: 90px;
    max-width: 250px;
    height: 40px;
    min-height: 25px;
    max-height: 80px;
    font-size: 1.4em;
    background-color: rgb(255, 255, 255);
}

.continue-button {
    z-index: 100;
    right: 10px;
    width: 120px;

    animation-name: continue-button-animation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

.game-list-wrapper {
    margin-top: 40px;
    position: absolute;
    transition: margin 0.6s;

    .game-list {
        width: 100%;
        height: 300px;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 0;

        .icon-wrapper {
            width: 200px;
            button:focus {
                outline: 4px solid rgba(109, 138, 232, 0.4);
            }

            .sol {
                width: 150px;
            }

            .mercury {
                width: 60px;
            }

            .venus {
                width: 70px;
            }

            .earth {
                width: 80px;
            }

            .mars {
                width: 70px;
            }

            .jupiter {
                width: 100px;
            }

            .saturn {
                width: 140px;
            }

            .uranus {
                width: 90px;
            }

            .neptune {
                width: 95px;
            }

            .icon {
                height: 200px;
                margin: 0 20px 20px 20px;
                flex-direction: row;
                background: none;
                border: none;
                transition: width 0.6s, height 0.6s;

                img:first-child {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .icon:focus {
                width: 200px;
                height: 200px;
                transform: translate(-10px, 64px);
                outline: none;
            }

            .icon-best-lap {
                transform: translateX(-8px);
                color: white;
                width: 191px;
                margin-left: 20px;
                font-size: 1.4em;
                @extend %dark-background;
                border-left: 4px solid rgb(109, 138, 232);
                border-right: 4px solid rgb(109, 138, 232);
                border-bottom: 4px solid rgb(109, 138, 232);
                img {
                    transform: translateY(0px);
                }
            }

            .icon-text {
                transform: translateX(-8px);
                margin-top: 49px;
                margin-right: auto;
                width: 191px;
                margin-left: 20px;
                font-size: 2.5em;
                color: white;
                @extend %dark-background;
                border-left: 4px solid rgb(109, 138, 232);
                border-right: 4px solid rgb(109, 138, 232);
                border-top: 4px solid rgb(109, 138, 232);
            }
        }
    }

    .gamepad-toast {
        position: fixed;
        bottom: 40px;
        right: 0px;
        font-size: 1.4em;
        width: 260px;
        margin: auto;

        animation-name: gamepad-toast-animation;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 3.5s;
    }
}

.no-gamepad-detected {
    margin: 20px auto;
    text-align: center;
    font-size: 2em;
}

.loading-wrapper {
    display: grid;

    .loading-image {
        width: fit-content;
        margin: auto;
        border: 4px solid rgb(34, 34, 34);
    }

    .loading-text {
        border-radius: 10px;
        font-size: 1.4rem;
        margin: 30px 50px;
        padding: 10px;
        background-color: rgba(83, 35, 35, 0.7);

        p {
            margin: 10px 0;
        }
    }
}

.lower-right {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 1.4em;
}

.menu-button-bar {
    display: grid;
    grid-template-columns: 100px auto 100px;
    padding: 8px;
    @extend %dark-background;

    .menu-button {
        justify-self: center;
        font-size: 1.6em;
        @extend %dark-background;
        border: none;
        color: white;
    }

    #store-id {
        justify-self: center;
        width: 500px;
    }
}

.no-select {
    user-select: none;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.player-menu-choose {
    position: relative;
    width: 500px;
    padding: 2px 1px;
    border: 2px solid white;
    background-color: #000000;
    text-align: center;
    margin: 50px auto;
    z-index: 2;

    .player-menu-title-name {
        float: left;
        font-size: 1.2em;
        height: 35px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .player-menu-title-difficulty {
        float: right;
        font-size: 1.2em;
        height: 35px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .player-menu-choose-button {
        width: 494px;
        height: 35px;
        margin: 2px;
        font-size: clamp(1.05em, 1.2vw, 1.25em);
        padding: 0px 0px;

        .player-menu-button-difficulty {
            float: right;
            padding-right: 5px;
        }

        .player-menu-button-name {
            float: left;
            padding-left: 5px;
        }
    }

    .create {
        font-size: 1.2em;
        float: right;
        margin-top: 20px;
        width: 200px;
    }
}

.player-menu-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 400px;
    margin: 60px auto 0 auto;
    padding: 20px;
    @extend %dark-background;
    border: 4px solid rgb(6, 10, 104);
    z-index: 2;

    .player-menu-choose-title {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        font-size: 1.4em;
    }

    .player-new-input {
        grid-column-start: 1;
        grid-column-end: 3;
        padding-left: 10px;
        font-size: 1.4em;
        background-color: black;
        color: white;
        height: 36px;
    }

    .Normal {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .Expert {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .Test {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .create {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: right;
        width: 100px;
        @extend %blue-button;
    }
    .create:focus {
        @extend %outline-border;
    }
    .cancel {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: right;
        width: 100px;
    }
    .player-new-input:focus {
        @extend %outline-border;
    }

    .selected {
        background: radial-gradient(
            circle,
            rgb(35, 42, 224) 0%,
            rgb(125, 19, 135) 100%
        );
        @extend %blue-button;
    }

    .unselected {
        @extend %blue-button;
    }
    .player-menu-button {
        @extend %blue-button;
    }
}

.save-button {
    bottom: 40px;
    right: 10px;
    z-index: 100;
}

.spinner {
    margin: 0px auto 0;
    width: 70px;
    width: 25vw;
    min-width: 90px;
    height: 4vw;
    min-height: 25px;
    text-align: center;
}

.title-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    @extend %dark-background;
    h1 {
        justify-self: left;
        margin: 5px;
    }
    h2 {
        margin: 0 5px;
        justify-self: right;
        align-self: center;
        font-size: 1.4em;
    }
}

@keyframes continue-button-animation {
    0% {
        background-color: white;
    }

    50% {
        background-color: aqua;
    }

    100% {
        background-color: white;
    }
}

@keyframes gamepad-toast-animation {
    0% {
        color: white;
    }

    50% {
        color: aqua;
    }

    100% {
        color: white;
    }
}
